/* Algemene styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a; /* Donkergrijze kleur */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

/* Hoofdinhoud styling */
main {
    padding: 50px 20px;
}

#yachts-intro {
    text-align: center;
    margin-bottom: 30px;
}

.yacht-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e8491d; /* Oranje kleur */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.yacht-button:hover {
    background-color: #333333;
    color: #ffffff;
}

/* Jachten section styling */
#yachts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

article {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.yacht-image {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Footer styling */
footer {
    background-color: #2a2f36;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}
/* ... bestaande stijlen ... */

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px; /* Aanpassen op basis van de grootte van je iconen */
    height: 30px; /* Aanpassen op basis van de grootte van je iconen */
    transition: opacity 0.3s;
}

.social-icons img:hover {
    opacity: 0.7;
}
/* CSS-code om de afbeelding proportioneel kleiner te maken */
#logo img {
    width: 50px;
    height: auto;
}


/* ... (de rest van je CSS-code) */

article p {
    text-align: left;
    margin-top: 10px;
    color: #555;
}

/* ... (de rest van je CSS-code) */
/* ... (de rest van je CSS-code) */

article p {
    text-align: left;
    margin-top: 10px;
    color: #555;
}

strong {
    color: #333;
}

/* ... (de rest van je CSS-code) */
/* CSS-code om de afbeelding proportioneel kleiner te maken */
#logo img {
    width: 50px;
    height: auto;
}

