/* Algemene stijlen */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-image: linear-gradient(to bottom, #6cabe6, #fff);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 1rem 2rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffc107;
}

/* Zoekformulier styling */
#search-form {
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 10px;
    background-color: #e8491d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#search-button:hover {
    background-color: #333333;
    color: #ffffff;
}

/* Contactpagina stijlen */


footer {
    background-color: #333;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s;
}

.social-icons img:hover {
    opacity: 0.7;
}

/* Navigation Icons */
.login-icon {
    width: 25px;
    vertical-align: middle;
}

/* CSS-code om de afbeelding proportioneel kleiner te maken */
#logo img {
    width: 90px;
    height: auto;
    border-radius: 10%;
}

/* Media Query voor kleinere schermen */
@media only screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        padding: 10px 0;
    }

    #yachts {
        grid-template-columns: 1fr; /* Stapelt de artikelen op kleinere schermen */
    }

    /* Andere stijlen voor kleinere schermen */
}
form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3 {
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input,
form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button {
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
