/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffc107;
}

/* Zoekformulier styling */
#search-form {
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 10px;
    background-color: #e8491d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#search-button:hover {
    background-color: #333333;
    color: #ffffff;
}

/* Hero Section Styles */
#hero {
    background-image: linear-gradient(to bottom, #6cabe6, #fff);
    padding: 3rem;
    text-align: center;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Yachts Section Styles */
#yachts {
    text-align: center;
    padding: 2rem;
}

#yachts img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 2rem;
    position: relative;
}

/* Navigation Icons */
.login-icon {
    width: 25px;
    vertical-align: middle;
}
/* CSS-code om de afbeelding proportioneel kleiner te maken */
#logo img {
    width: 90px;
    height: auto;
    border-radius: 10%;
}
